body{
	margin:0;
    font-family: times;
    font-size: 18px;
    color:rgb(255, 255, 255);
	background-image: linear-gradient(to top,whitesmoke,gainsboro);
    text-align: center;
    overflow: auto;
     background-image: url('https://wallpapers.com/images/hd/bgmi-parachute-landing-1y3cn7sploqanlop.jpg'); 
     background-repeat: no-repeat;

    
}
img{
	max-width: 100%;
}

.clear{
    clear: both;
}
#mainNav.is-sticky {
    background: white;
}
#mainNav.is-sticky a {
  color:floralwhite;
}
nav ul{
    list-style: none;
    margin: 0;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	background-color:lightblue;
	transition: background 0.4s;
}
nav ul li{
    float: left;
    width: 24%;
	height: 8%;
}
nav ul li a{
	transition: color 0.4s;
	list-style: none;
    font-weight: 700;
    text-decoration: none;
	font-size: 15px;
    color: black;
    display: block;
    padding: 8% 18%;
}
nav ul li a:hover , nav ul li.home a{
	list-style: none;
    background-color: ;
    color:purple;
}

.left-col{
    width:20%;
    float:left;
    padding: 1%;
    display:flex;
}
.sidebar{
    width:50%;
    float:left;
    padding:1%;
	font-size: 30px;
    color: black;

}

   #footer{ background-color:black; color: white; text-align: center;
    padding: 20px;
height: auto; width: auto; }
   